<form (submit)="onSubmit()" [formGroup]="registerForm" class="needs-validation" novalidate="">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">Imię</label>
      <input type="text" class="form-control" id="firstName" formControlName="name" placeholder="" value="" required="">

    </div>
    <div class="col-md-6 mb-3">
      <label for="lastName">Nazwisko</label>
      <input type="text" class="form-control" id="lastName" formControlName="surname" placeholder="" value=""
        required="">

    </div>
  </div>

  <div class="mb-3">
    <label for="username">Nazwa użytkownika</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">@</span>
      </div>
      <input type="text" class="form-control" id="username" formControlName="login" placeholder="Username" required="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="paswword">Hasło</label>
      <input type="password" class="form-control" id="paswword" formControlName="password" placeholder="" value=""
        required="">

    </div>
    <div class="col-md-6 mb-3">
      <label for="confirmPassword">Powtórz hasło</label>
      <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder=""
        value="" required="">

    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="email">Email <span class="text-muted">(Optional)</span></label>
      <input type="email" class="form-control" id="email" formControlName="email" placeholder="you@example.com">
    </div>
    <div class="col-md-6 mb-3">
      <label for="photo">Photo </label>
      <input type="file" class="form-control" id="photo" formControlName="photo" placeholder="">
    </div>
  </div>

  <div class="mb-3">
    <label for="address">Miasto</label>
    <input type="text" class="form-control" id="address" formControlName="city" placeholder="" required="">
  </div>

  <hr class="mb-4">
  <button class="btn btn-primary btn-lg btn-block" type="submit">Zarejestruj się</button>
</form>